pipeline/pl_delete_Controlled_Table.json
{
	"name": "pl_delete_Controlled_Table",
	"properties": {
		"activities": [
			{
				"name": "Get_file_list_toDelete",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select FolderName, Wildcard from tbl_Controlled",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_FilesList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate thru Containes",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_file_list_toDelete",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_file_list_toDelete').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DeleteFilesfromFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_blobstrg",
									"type": "DatasetReference",
									"parameters": {
										"p_FolderName": {
											"value": "@item().FolderName",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "lnk_pmpstrgacct",
										"type": "LinkedServiceReference"
									},
									"path": "logs-files"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@item().Wildcard",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-21T11:35:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}